/*!****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/.pnpm/next@15.0.2_react-dom@19.0.0-rc-02c0e824-20241028_react@19.0.0-rc-02c0e824-20241028__react@19.0.0-rc-02c0e824-20241028/node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[3].use[1]!./node_modules/.pnpm/next@15.0.2_react-dom@19.0.0-rc-02c0e824-20241028_react@19.0.0-rc-02c0e824-20241028__react@19.0.0-rc-02c0e824-20241028/node_modules/next/dist/build/webpack/loaders/next-font-loader/index.js??ruleSet[1].rules[13].oneOf[3].use[2]!./node_modules/.pnpm/next@15.0.2_react-dom@19.0.0-rc-02c0e824-20241028_react@19.0.0-rc-02c0e824-20241028__react@19.0.0-rc-02c0e824-20241028/node_modules/next/font/local/target.css?{"path":"src\\pages\\index.tsx","import":"","arguments":[{"src":[{"path":"../app/fonts/woff2/IRANSansXFaNum-Bold.woff2","weight":"600","style":"bold"},{"path":"../app/fonts/woff/IRANSansXFaNum-Bold.woff","weight":"600","style":"bold"},{"path":"../app/fonts/woff/IRANSansXFaNum-Regular.woff","weight":"400","style":"normal"},{"path":"../app/fonts/woff2/IRANSansXFaNum-Regular.woff2","weight":"400","style":"normal"}]}],"variableName":"IRANSans"} ***!
  \****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
@font-face {
font-family: 'IRANSans';
src: url(/_next/static/media/50230cd5a4b61f73-s.p.woff2) format('woff2');
font-display: swap;
font-weight: 600;
font-style: bold;
}

@font-face {
font-family: 'IRANSans';
src: url(/_next/static/media/497a757c0ebf85c6-s.p.woff) format('woff');
font-display: swap;
font-weight: 600;
font-style: bold;
}

@font-face {
font-family: 'IRANSans';
src: url(/_next/static/media/b947e647ea056447-s.p.woff) format('woff');
font-display: swap;
font-weight: 400;
font-style: normal;
}

@font-face {
font-family: 'IRANSans';
src: url(/_next/static/media/a064cb60cf09ba30-s.p.woff2) format('woff2');
font-display: swap;
font-weight: 400;
font-style: normal;
}@font-face {font-family: 'IRANSans Fallback';src: local("Arial");ascent-override: 96.67%;descent-override: 48.34%;line-gap-override: 0.00%;size-adjust: 103.44%
}.__className_4d8398 {font-family: 'IRANSans', 'IRANSans Fallback'
}

